.section {
  display: inherit;

  .blog-section-inner {
    max-width: 76.17vw;
    margin: 0 auto;
    padding: 3.9vw 3.9vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .blog-section-left {
    width: 30%;
    button.btn {
      margin-top: 3.9vw;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        a {
          font-size: 1.69vw;
          color: #a2a2a2;
          text-decoration: none;
          padding: 0.65vw;
          display: block;
          position: relative;
          &.active {
            color: #262626;
            font-weight: 500;
            position: relative;
            &:before {
              content: "";
              width: 0.45vw;
              height: 0.45vw;
              background: #fe5c00;
              position: absolute;
              border-radius: 100%;
              left: -0.65vw;
              top: 1.49vw;
            }
          }
        }
      }
    }
  }

  .blog-section-right {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .blog-box {
    width: calc(100% / 3 - 1.3vw);
  }

  .blog-box-text {
    padding: 0.97vw 0;
    h2 {
      font-size: 1.43vw;
      color: #262626;
      line-height: 1.82vw;
      margin-top: 0;
    }
  }
  .blog-box-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 1.43vw;
      color: #ed691e;
    }
    form.search-box {
      position: relative;
      input[type="search"] {
        padding: 0.65vw;
        border: 0;
        background: #f2f2f2;
      }
      img {
        position: absolute;
        right: 0.39vw;
        width: 0.97vw;
        top: 0.65vw;
      }
    }
  }
  button.btn {
    display: flex;
    background: #ed691e;
    align-items: center;
    padding: 0.97vw;
    border: 0;
    font-size: 1.17vw;
    color: #fff;
    img {
      width: 0.97vw;
      margin-left: 1.36vw;
    }
  }
}
@media (max-width: 601px) {
	.section {
		.blog-section-inner {
			padding: 3.9vw 1.3vw;
			.blog-section-left{
				width: 100%;
			}
			.blog-section-right{
				width: 100%;
				padding-top: 1.95vw;
				.blog-box {
					width: calc(100% / 1);
				  }
			}
		}
	}
}
