.section {
  display: inherit;
  
  .wrapper-slider {
    position: relative;
  }

  .latest-progress {
    padding: 60px 0;
  }
  .latest-progress-inner {
    padding-left: 150px;
    position: relative;
  }
  .latest-progress-title h2 {
    font-size: 44px;
    margin: 0 0 40px;
    color: #262626;
  }
  .slider-track {
    display: flex;
    transition: 0.2s;
  }
  .slider-item {
    max-width: 342px !important;
    display: flex;
    flex-wrap: wrap;
	&:focus{
		outline: none;
	}
  }
  .slider-container {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  .slider-item-text {
    padding: 15px 0;
  }
  .slider-item-text h2 {
    font-size: 22px;
    color: #262626;
    line-height: 35px;
    margin-top: 0;
  }
  .slider-item-text p {
    margin-top: 0;
    color: #262626;
    font-size: 14px;
  }
  .slider-buttons .btn-prev,
  .slider-buttons .btn-next {
    display: none;
  }
  .slider-buttons .arrow {
    background-color: #fe5c00;
    display: inline-block;
    padding: 8px;
    position: absolute;
        left: -30px;
    transform: rotate(181deg);
    top: 40%;
    cursor: pointer;
  }
  .slider-buttons .arrow img {
    width: 14px;
  }
}
.mobile-Slider{
	display: none;
}

@media (max-width: 991px) {
	.section {
		.latest-progress-inner{
			padding: 0 20px;
			.wrapper-slider {
				display: none;
			}
		}
		.mobile-Slider{
			display: block;
		}
	}
}
