.section {
  display: inherit;
  
  .wrapper-slider {
    position: relative;
  }

  .latest-progress {
    padding: 3.9vw 0;
  }
  .latest-progress-inner {
    padding-left: 9.7vw;
    position: relative;
  }
  .latest-progress-title h2 {
    font-size: 44px;
    margin: 0 0 2.6vw;
    color: #262626;
  }
  .slider-track {
    display: flex;
    transition: 0.2s;
  }
  .slider-item {
    max-width: 342px !important;
    display: flex;
    flex-wrap: wrap;
    &:focus{
      outline: none;
    }
  }
  .slider-container {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  .slider-item-text {
    padding: 0.97vw 0;
  }
  .slider-item-text h2 {
    font-size: 1.43vw;
    color: #262626;
    line-height: 35px;
    margin-top: 0;
  }
  .slider-item-text p {
    margin-top: 0;
    color: #262626;
    font-size: 0.9vw;
  }
  .slider-buttons .btn-prev,
  .slider-buttons .btn-next {
    display: none;
  }
  .slider-buttons .arrow {
    background-color: #fe5c00;
    display: inline-block;
    padding: 0.52vw;
    position: absolute;
        left: -1.95vw;
    transform: rotate(181deg);
    top: 40%;
    cursor: pointer;
  }
  .slider-buttons .arrow img {
    width: 0.9vw;
  }
}
.mobile-Slider{
	display: none;
}

@media (max-width: 991px) {
	.section {
		.latest-progress-inner{
			padding: 0 1.3vw;
			.wrapper-slider {
				display: none;
			}
		}
		.mobile-Slider{
			display: block;
		}
	}
}
