.section {
  display: inherit;
}
.progress-section {
  max-width: 76.17vw;
  margin: 0 auto;
  .progress-section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3.9vw 0;
    & > div {
      width: 45%;
    }
  }
  .progress-section-left {
    p {
      color: #afacac;
      font-size: 1.95vw;
      font-weight: 500;
      line-height: 2.47vw;
    }
    h3 {
      margin: 0 0 1.3vw;
      color: #fe5c00;
      font-size: 1.43vw;
    }
  }
  .progress-section-right {
    h4 {
      font-size: 1.43vw;
      padding-bottom: 3.25vw;
      line-height: 1.69vw;
    }
    p {
      color: #fe5c00;
      font-size: 1.17vw;
      font-weight: 500;
      line-height: 1.43vw;
    }
    .btn {
      margin-top: 3.9vw;
    }
    span {
      font-size: 1.17vw;
      line-height: 1.43vw;
    }
  }
}
.play-btn {
  background-color: #ffffff66;
  border-radius: 0.78vw;
  width: 3.6vw;
  height: 3.6vw;
  position: absolute;
  top: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 91px;
}

.progress-section-videos {
  display: inline-block;
  position: relative;
}

button.btn {
  display: flex;
  background: #fe5c00;
  align-items: center;
  padding: 0.97vw;
  border: 0;
  font-size: 1.17vw;
  color: #fff;
  img {
    width: 0.97vw;
    margin-left: 1.36vw;
  }
}
@media (max-width: 600px) {
  .progress-section {
    .progress-section-inner > div {
      width: 100%;
      padding: 3.3vw;
    }
    .progress-section-left {
      p {
        color: #afacac;
        font-size: 1.95vw;
        font-weight: 500;
        line-height: 2.47vw;
      }
      h3 {
        margin: 0 0 1.3vw;
        color: #fe5c00;
        font-size: 1.43vw;
      }
    }
    .progress-section-right {
      h4 {
        font-size: 6vw;
        line-height: 6.3vw;
      }
      p {
        font-size: 4.3vw;
        line-height: 6vw;
      }
      span {
        font-size: 4.3vw;
        line-height: 6vw;
      }
    }
    button.btn {
      font-size: 5.17vw;
      img {
        width: 1.97vw;
        margin-left: 2.36vw;
      }
    }
  }
}
