.section {
  display: inherit;
  margin-top: -0.26vw;
}
.step-section-inner {
  max-width: 76.17vw;
  margin: 0 auto;
  padding: 3.9vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.step-section {
  background-color: #e5e5e5;
  ul {
    padding: 0;
    margin-left: -0.65vw;
    li {
      list-style: none;
      margin: 0;
      a {
        font-size: 1.95vw;
        font-weight: bold;
        color: #a2a2a2;
        text-decoration: none;
        padding: 0.52vw 0.65vw;
        display: block;
        transition: all 0.5s ease;
        &.active {
          color: #262626;
          position: relative;
          &:before {
            content: "";
            width: 0.45vw;
            height: 0.45vw;
            background: #fe5c00;
            position: absolute;
            border-radius: 100%;
            left: -0.65vw;
            top: 1.62vw;
            transition: content 1s ease;
          }
        }
      }
    }
  }
}
.teb-cont-inner {
  width: 40%;
  h3 {
    color: #fe5c00;
    font-size: 1.04vw;
  }
}
.teb-cont-body {
  width: 60%;
  padding: 0.65vw 3.25vw;
  transition: all 0.5s ease;
  h4 {
    font-size: 1.43vw;
    margin-bottom: 3.25vw;
    transition: content 0.5s ease;
  }
  p {
    margin-bottom: 3.9vw;
    font-size: 1.17vw;
    line-height: 1.69vw;
    transition: content 0.5s ease;
  }
}
a.move-button-link {
  display: flex;
  text-decoration: none;
  font-size: 1.17vw;
  color: #262626;
  font-weight: bold;
  align-items: center;
}

a.move-button-link img {
  width: 0.9vw;
}

a.move-button-link span {
  font-size: 1.17vw;
}
.move-btn {
  width: 2.6vw;
  height: 2.6vw;
  background: #fe5c00;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3.25vw;
}
.display-mobile {
  display: none;
}
@media (max-width: 600px) {
  .display-mobile {
    display: initial;
    margin-top: 2.5vw;
    margin-bottom: 0;
  }
  .step-section {
    a {
      font-size: 7.2vw;
    }
  }
	.step-section-inner{
		padding: 10vw 3.3vw;
		.teb-cont-body{
			width: 100%;
			padding: 5vw 0;
		}
		.teb-cont-inner {
      width: 100%;
      h3 {
        font-size: 3.8vw;
      }
			ul{
        display: flex;
        margin-left: 0;
				li{
					width: 5vw;
					position: relative;
					height: 3.3vw;
					margin: 0;
					a{
						text-indent: -9999px;  
						padding: 0;
						&:after{
							content: '';
							width: 3.3vw;
							height: 3.3vw;
							border: 1vw solid #fe5c00;
							position: absolute;
							left: 0;
							margin-right: 4.2vw;
						}
						&.active{
							&:after{
								background-color:#fe5c00;
							}
							&:before{
								display: none;
							}
						}
					}
				}
      }
    }
    .teb-cont-body {
      h4 {
        font-size: 5.3vw;
        line-height: 5.6vw;
      }
      p {
        font-size: 4.3vw;
        line-height: 6.3vw;
      }
    }
  }
  .move-btn {
    width: 10vw;
    height: 10vw;
  }
  a.move-button-link img {
    width: 3vw;
  }
  a.move-button-link {
    font-size: 4.3vw;
  }
  a.move-button-link span {
    font-size: 4.3vw;
  }
}