.section {
  display: inherit;
}
.step-section-inner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.teb-cont-inner h3 {
  color: #fe5c00;
  font-size: 16px;
}

.step-section ul {
  padding: 0;
}

.step-section ul li {
  list-style: none;
  margin: 0;
}

.step-section ul li a {
  font-size: 30px;
  font-weight: bold;
  color: #a2a2a2;
  text-decoration: none;
  padding: 8px 10px;
  display: block;
}
.teb-cont-inner {
  width: 40%;
}
.step-section {
  background-color: #e5e5e5;
}

.teb-cont-body {
  width: 60%;
  padding: 10px 50px;
}
a.move-button-link {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  color: #262626;
  font-weight: bold;
  align-items: center;
}

a.move-button-link img {
  width: 14px;
}

a.move-button-link span {
  font-size: 18px;
}

.teb-cont-body h4 {
  font-size: 22px;
  margin-bottom: 50px;
}

.teb-cont-body p {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 26px;
}

.move-btn {
  width: 40px;
  height: 40px;
  background: #fe5c00;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.step-section ul li a.active {
  color: #262626;
  position: relative;
}

.step-section ul li a.active:before {
  content: "";
  width: 7px;
  height: 7px;
  background: #fe5c00;
  position: absolute;
  border-radius: 100%;
  left: -10px;
  top: 23px;
}
.display-mobile {
  display: none;
}
@media (max-width: 991px) {
  .display-mobile {
    display: initial;
    margin-top: 15px;
    margin-bottom: 0;
  }
	.step-section-inner{
		padding: 60px 20px;
		.teb-cont-body{
			width: 100%;
			padding: 30px 0px;
		}
		.teb-cont-inner {
			width: 100%;
			ul{
				display: flex;
				li{
					width: 30px;
					position: relative;
					height: 20px;
					margin: 0;
					a{
						text-indent: -9999px;  
						padding: 0;
						&:after{
							content: '';
							width: 20px;
							height: 20px;
							border: 6px solid #fe5c00;
							position: absolute;
							left: 0;
							margin-right: 25px;
						}
						&.active{
							&:after{
								background-color:#fe5c00;
							}
							&:before{
								display: none;
							}
						}
					}
				}
      }
		}
	}
}