.footer-menu-text {
  a {
    color: #fff;
    font-size: 0.9vw;
    font-weight: 700;
    padding: 0.39vw 0;
    display: inline-block;
    text-decoration: none;
  }
}
@media (max-width: 600px) {
  .footer-menu-text {
    width: 100%;
    a {  
      font-size: 2vw;
    }
    ul {
      margin: 0;
    }
    li {
      margin-bottom: 0px;
    }
  }
}