.footer-menu {
  a {
    font-size: 1.43vw;
    color: #ffffff;
    text-decoration: none;
    line-height: 1.69vw;
    padding: 0.39vw 0;
    display: inline-block;
    font-weight: bold;
  }
}
@media (max-width: 991px) {
  .footer-menu {
    width: 100%;
    padding-top: 1.3vw;
    ul {
      margin: 0;
    }
  }
}