.footer-menu {
  a {
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    line-height: 26px;
    padding: 6px 0;
    display: inline-block;
    font-weight: bold;
  }
}
@media (max-width: 991px) {
  .footer-menu {
    width: 100%;
    padding-top: 20px;
    ul {
      margin: 0;
    }
  }
}