.brand {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--navbar-background-color);
  visibility: visible;
  top: 0.78vw;
  left: 0.65vw;
  width: 3.25vw;
  z-index: 99;
  img {
    max-width: 100%;
    margin-bottom: 0;
  }
  .desktopLogo {
    margin-left: 0.65vw;
  }
}
@media (min-width: 601px) {
  .brand {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    visibility: visible;
    margin: 0;
    padding: 0;
    left: 0;
    width: auto;
    transform: translate(0, 0);
    white-space: nowrap;
    height: 2.6vw;
    top: 0;
    width: 22.7vw;
    justify-content: flex-start;
    .mobileLogo {
      display: none;
    }
  }
}
@media (max-width: 600px) {
  .desktopLogo {
    display: none;
  }
  .brand {
    top: 3.5vw;
    left: 0.65vw;
    width: 11vw;
    a {
      padding: 0 0 0 1.6vw;
    }
    img {
      max-width: 12.5vw;
    }
  }
}