.footer-contact {
  padding-left: 5.2vw;
  h3 {
    color: #fff;
    font-size: 1.43vw;
    margin: 0 0 2.6vw;
  }
  p {
    color: #fff;
    font-size: 1.17vw;
    line-height: 1.69vw;
  }
}
@media (max-width: 991px) {
  .footer-contact {
    display: none;
  }
}
