
.subnav-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  top: 7.8vw;
  transition: all 0.3s ease 0s;
  .subnav-content-inner {
    display: flex;
    justify-content: space-between;
    & > div {
      width: 50%;
    }
  }
  .subnav-content-left {
    padding: 3.9vw;
    display: flex;
    .subnav-content-box {
      width: 50%;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          a {
            font-size: 1.17vw;
            color: #262626;
            padding: 0.65vw 0;
            display: block;
            &.subLink:hover {
              color: #fe5c00;
            }
          }
        }
      }
      h3 {
        font-size: 1.95vw;
        margin-top: 0;
      }
    }
  }
  .subnav-content-right {
    display: flex;
  }
  .subnav-content-image-box {
    width: 100%;
    height: 100%;
    max-width: 50%;
    position: relative;
    background-size: cover;
    background-position: right;
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0.4;

      background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.94) 94%,
        rgba(0, 0, 0, 1) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.94) 94%,
        rgba(0, 0, 0, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 );
      z-index: 0;
    }
    &.color-orange:after {
      // background: -webkit-linear-gradient(top, hsl(0deg 0% 100% / 0%) 0%,hsl(22deg 100% 50%) 94%,hsl(22deg 100% 50%) 100%);
      // background: linear-gradient(to bottom, hsl(0deg 0% 100% / 0%) 0%,hsl(22deg 100% 50%) 94%,hsl(22deg 100% 50%) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 );
      z-index: 0;
    }
    .image-box-bottom {
      position: absolute;
      bottom: 0;
      padding: 1.3vw 3.25vw;
      width: 80%;
      color: #fff;
      z-index: 2;
      p {
        padding: 0 0 1.3vw;
        font-size: 1.1vw;
      }
      span {
        font-size: 1.1vw;
        line-height: 1.43vw;
        white-space: initial;
      }
    }
  }
}
@media (max-width: 600px) {
  .subnav-content {
    .subnav-content-inner {
      flex-wrap: wrap;
      & > div {
        width: 100%;
      }
      .subnav-content-left {
        padding: 3.3vw;
      }
      .subnav-content-right {
        .subnav-content-image-box {
          min-height: 30vw;
          .image-box-bottom {
            width: 100%;
            padding: 3.3vw 3.3vw;
          }
        }
      }
    }
  }
}
