.section {
  display: inherit;

  .team-member-section {
    padding: 150px 0;
  }
  .team-member-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team-member-section-left {
    background-size: cover;
    width: 500px;
    height: 100%;
    background-repeat: no-repeat;
    min-height: 520px;
    background-position: 80% 100%;
  }
  .team-member-section-right {
    width: calc(100% - 500px);
  }
  .team-member-teb {
    ul {
      padding: 0;
      display: flex;
      margin: 0 0 50px;
      li {
        list-style: none;
        position: relative;
        a  {
          text-decoration: none;
          padding-right: 30px;
          font-size: 22px;
          color: #a2a2a2;
          display: block;
        }
        a.active {
          font-weight: 700;
          color: #262626;
          &:before {
            content: "";
            width: 7px;
            height: 7px;
            background: #fe5c00;
            position: absolute;
            border-radius: 100%;
            left: 0;
            bottom: -10px;
            right: 0;
            margin: 0 auto;
          }
        }
      }
    }
    padding: 0 60px;
  }
  .team-member-teb-body {
    padding: 0 60px;
  }
  #team-member-teb-container {
    h4 {
      font-size: 22px;
      padding-bottom: 30px;
      line-height: 26px;
    }
    p {
      font-size: 18px;
      line-height: 26px;
    }
  }
  .slider-container {
    overflow: hidden;
    width: 104%;
    position: relative;
    margin-left: -4%;
  }
  .slider-track {
    display: flex;
    transition: 0.2s;
  }
  
  .slider-item {
    height: 280px !important;
    display: flex;
	object-fit: cover;
    &:focus{
		outline: none;
    }
  }
  .slider-buttons {
    .btn-prev {
      display: none;
    }
    .btn-next {
      display: none;
    }
    .arrow {
      background-color: #fe5c00;
      display: inline-block;
      padding: 8px;
      position: absolute;
      left: -13%;
      transform: rotate(181deg);
      top: 40%;
      cursor: pointer;
      img {
        width: 14px;
      }
    }
  }
  .wrapper-slider {
    position: relative;
  }
  .rec {
	flex-direction: column !important;
  }
  .wrapper-Mobile{
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 20px;
	.Image-Box{
		width: calc(100%/2 - 10px);
		margin: 0 0 20px;
		img {
			min-height: 235px;
			width: auto;
			object-fit: cover;
		}
	}
  }
}
.display-mobile {
  display: none;
}
@media (max-width: 991px) {
	.section {
    .display-mobile {
      display: block;
      margin-top: 15px;
      margin-bottom: 0;
      padding-left: 20px;
    }
		.team-member-section{
		  padding: 20px 0 60px;
			.team-member-section-right {
				width: calc(100%);
				.team-member-teb{
          padding: 60px 20px 0;
          ul{
            display: flex;
            margin: 0;
            li{
              width: 30px;
              position: relative;
              height: 20px;
              margin: 0;
              a{
                text-indent: -9999px;  
                padding: 0;
                &:after{
                  content: '';
                  width: 20px;
                  height: 20px;
                  border: 6px solid #fe5c00;
                  position: absolute;
                  left: 0;
                  margin-right: 25px;
                }
                &.active{
                  &:after{
                    background-color:#fe5c00;
                  }
                  &:before{
                    display: none;
                  }
                }
              }
            }
          }
					// ul{
					// 	margin: 0 0 20px;
					// }
				}
			}
			.team-member-teb-body{
				padding: 20px 20px 60px;
			}
		}
		.wrapper-slider {
			display: none;
		}
		.wrapper-Mobile{
			display: flex;
		}
	}
}
