.section {
  display: inherit;

  .team-member-section {
    padding: 9.7vw 0;
  }
  .team-member-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team-member-section-left {
    background-size: cover;
    width: 32.5vw;
    height: 100%;
    background-repeat: no-repeat;
    min-height: 33.85vw;
    background-position: 80% 100%;
  }
  .team-member-section-right {
    width: calc(100% - 32.5vw);
  }
  .team-member-teb {
    ul {
      padding: 0;
      display: flex;
      margin: 0 0 3.25vw;
      li {
        list-style: none;
        position: relative;
        a  {
          text-decoration: none;
          padding-right: 1.95vw;
          font-size: 1.43vw;
          color: #a2a2a2;
          display: block;
        }
        a.active {
          font-weight: 700;
          color: #262626;
          &:before {
            content: "";
            width: 0.45vw;
            height: 0.45vw;
            background: #fe5c00;
            position: absolute;
            border-radius: 100%;
            left: 0;
            bottom: -0.65vw;
            right: 0;
            margin: 0 auto;
          }
        }
      }
    }
    padding: 0 3.9vw;
  }
  .team-member-teb-body {
    padding: 0 3.9vw;
  }
  #team-member-teb-container {
    h4 {
      font-size: 1.43vw;
      padding-bottom: 1.95vw;
      line-height: 1.69vw;
    }
    p {
      font-size: 1.17vw;
      line-height: 1.69vw;
    }
  }
  .slider-container {
    overflow: hidden;
    width: 104%;
    position: relative;
    margin-left: -4%;
  }
  .slider-track {
    display: flex;
    transition: 0.2s;
  }
  
  .slider-item {
    height: 18.22vw !important;
    display: flex;
	  object-fit: cover;
    &:focus{
		outline: none;
    }
  }
  .slider-buttons {
    .btn-prev {
      display: none;
    }
    .btn-next {
      display: none;
    }
    .arrow {
      background-color: #fe5c00;
      display: inline-block;
      width: 3.25vw;
      height: 3.25vw;
      line-height: 3.25vw;
      position: absolute;
      left: -13%;
      transform: rotate(181deg);
      top: 40%;
      text-align: center;
      cursor: pointer;
      img {
        width: 0.9vw;
      }
    }
  }
  .wrapper-slider {
    position: relative;
  }
  .rec {
	flex-direction: column !important;
  }
  .wrapper-Mobile{
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 1.3vw;
	.Image-Box{
		width: calc(100%/2 - 0.65vw);
		margin: 0 0 1.3vw;
		img {
			min-height: 15.29vw;
			width: auto;
			object-fit: cover;
		}
	}
  }
}
.display-mobile {
  display: none;
}
@media (max-width: 600px) {
	.section {
    .display-mobile {
      display: block;
      margin-top: 2.5vw;
      margin-bottom: 0;
      padding-left: 3.3vw;
    }
		.team-member-section{
		  padding: 3.3vw 0 10vw;
			.team-member-section-right {
				width: calc(100%);
				.team-member-teb{
          padding: 10vw 3.3vw 0;
          ul{
            display: flex;
            margin: 0;
            li{
              width: 5vw;
              position: relative;
              height: 3.3vw;
              margin: 0;
              a{
                text-indent: -9999px;  
                padding: 0;
                &:after{
                  content: '';
                  width: 3.3vw;
                  height: 3.3vw;
                  border: 1vw solid #fe5c00;
                  position: absolute;
                  left: 0;
                  margin-right: 4vw;
                }
                &.active{
                  &:after{
                    background-color:#fe5c00;
                  }
                  &:before{
                    display: none;
                  }
                }
              }
            }
          }
					// ul{
					// 	margin: 0 0 1.3vw;
					// }
				}
			}
			.team-member-teb-body{
				padding: 3.3vw 3.3vw 10vw;
			}
		}
		.wrapper-slider {
			display: none;
		}
		.wrapper-Mobile{
			display: flex;
		}
	}
}
