.progress-section {
  max-width: 76.17vw;
  margin: 0 auto;
  .progress-section-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3.9vw 0;
    & > div {
      width: 45%;
    }
  }
}
.progress-section-left {
  p {
    color: #afacac;
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
  }
  h3 {
    margin: 0 0 1.3vw;
    color: #ed691e;
    font-size: 1.43vw;
  }
}

.play-btn {
  background-color: #ffffff66;
  border-radius: 0.78vw;
  width: 56px;
  height: 56px;
  position: absolute;
  top: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 40%;
}

.progress-section-videos {
  display: inline-block;
  position: relative;
}

button.btn {
  display: flex;
  background: #ed691e;
  align-items: center;
  padding: 0.97vw;
  border: 0;
  font-size: 1.17vw;
  color: #fff;
  img {
    width: 0.97vw;
    margin-left: 21px;
  }
}

.progress-section-right {
  h4 {
    font-size: 1.43vw;
    padding-bottom: 3.25vw;
    line-height: 1.69vw;
  }
  p {
    color: #fe5c00;
    font-size: 1.17vw;
    font-weight: 700;
    line-height: 1.43vw;
	margin: 1.95vw 0 0;
  }
  .btn {
    margin-top: 3.9vw;
  }
  span {
    font-size: 1.17vw;
    line-height: 1.43vw;
  }
}
@media (max-width: 1200px) {
  .progress-section {
    .progress-section-inner {
      padding-bottom: 0;
      & > div {
        width: 100%;
        padding: 0 1.3vw;
      }
      .progress-section-right {
        p{
          margin: 1.95vw 0 1.95vw;
        }
        .play-btn{
          top: 40%;
          left: 40%;
        }
      }
      .progress-section-left {
        p{
          font-size: 1.56vw;
          line-height: 1.95vw;
        }
      }
    }
  }
}
