.testimony-section-inner {
  width: 100%;
  margin: 0 0 0 auto;
  position: relative;
  overflow: hidden;
}
.testimony-section-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50px;
  left: 55%;
  padding: 50px;
  align-items: flex-start;
  height: 100%;
}

.testimony-section-text h2 {
  font-size: 44px;
  color: #fff;
  margin-bottom: 50px;
  max-width: 400px;
}

.testimony-section-text p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 70px;
}

.testimony-section-text .btn {
  background: #262626;
  display: flex;
  align-items: center;
  padding: 15px;
  border: 0;
  font-size: 18px;
  color: #fff;
  position: absolute;
  bottom: 150px;
  img {
    width: 15px;
    margin-left: 21px;
    margin-bottom: 0;
  }
}

.testimonyImages {
  background: url('/testimony-section-bg.png') no-repeat;
  background-size: 100% auto;
  height: 800px;
  padding-top: 50px;
}
.testimony-images-png {
  position: absolute;
  bottom: 0;
}

.wrap-white-space {
  white-space: pre-wrap;
}

@media (max-width: 991px) {
	.testimony-section-inner{
    .testimonyImages {
      background-size: auto 750px;
      background-position-x: -200px;
      height: 550px;
    }
    .testimony-images-png {
      top: 250px;
      bottom: auto;
    }
		.testimony-section-text{
      padding: 0px 20px 20px 20px;
      left: 20%;
			h2{
				font-size: 36px;
        margin-bottom: 20px;
        max-width: 300px;
        line-height: 40px;
			}
			p{
        margin-bottom: 40px;
        display: none;
      }
      .btn {
        bottom: 100px;
      }
		}
	}
}
