.section {
  display: inherit;

  .find-treatment-left {
    width: 26vw;
    padding: 1.3vw;
  }
  .find-treatment-inner {
    display: flex;
    flex-wrap: wrap;
    padding: 1.3vw 0 0;
  }
  .find-treatment-right {
    width: calc(100% - 26vw);
    display: flex;
  }
  .search-box input {
    padding: 0.65vw 0.65vw 0.65vw 2.6vw;
    border: 0;
    border-bottom: 0.39vw solid #fe5c00;
    font-size: 1.17vw;
    color: #262626;
    font-weight: bold;
    width: 200px;
  }
  .search-box input:focus {
    outline: none;
  }
  .find-treatment-left-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .find-treatment-dropdown {
    position: relative;
    margin-top: 0.45vw;
    .form-control {
      background-color: #fe5c00;
      color: #fff;
      border: 0;
      padding: 0.65vw 2.6vw 0.65vw  0.97vw;
      font-size: 1.17vw;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    &:after{
      content: '';
      height: 0.65vw;
      width: 0.65vw;
      border-style: solid;
      border-color: white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      position: absolute;
      right: 1.17vw;
      top: 0.78vw;
      z-index: 0;
      pointer-events: none;
    }
  }
  .find-treatment-search {
    margin-right: 1.62vw;
  }

  .search-box input::placeholder {
    color: #262626;
    font-weight: bold;
    font-size: 1.17vw;
  }
  .search-box {
    position: relative;
  }
  .search-box img {
    position: absolute;
    left: 0;
    width: 0.97vw;
    top: 0.9vw;
  }
  .find-treatment-leftbox {
    display: flex;
    padding: 0.97vw 0;
  }

  .leftbox-image img {
    width: 3.9vw;
    height: 3.9vw;
    object-fit: cover;
    border-radius: 100%;
  }

  .leftbox-image {
    flex: 0 0 4.5vw;
    margin-right: 0.65vw;
  }

  .leftbox-text h3 {
    margin: 0;
    font-size: 1.17vw;
  }

  .leftbox-text p {
    margin: 0;
    font-size: 0.9vw;
  }

  .leftbox-icon {
    width: 9.7vw;
    border-left: 3px solid #a4a4a4;
    padding-left: 0.97vw;
  }

  .leftbox-icon .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.9vw;
  }
  .leftbox-icon .icons p {
    margin: 0;
  }
  .find-treatment-map-left {
    width: 19.53vw;
    background-color: #e5e5e5;
  }

  .google-map iframe {
    width: 100%;
    height: 100%;
  }
  .google-map {
    width: 100%;
    height: 100%;
  }
  .find-treatment-map {
    width: calc(100% - 19.53vw);
  }
  .map-left-text {
    padding: 1.3vw;
  }
  .map-left-text p {
    font-size: 1.17vw;
    line-height: 1.56vw;
  }
  .find-treatment-copy > p {
    font-size: 1.17vw;
    margin-bottom: 3.25vw;
    line-height: 1.69vw;
    color: #333;
  }
  .find-treatment-copy {
    padding: 2.6vw 5.2vw 1.3vw 1.3vw;
  }
  .find-treatment-copy-inner p {
    margin: 0;
    font-size: 1.17vw;
    color: #333;
  }
  .find-treatment-copy-inner h3 {
    margin: 0;
    font-size: 1.95vw;
    color: #333;
  }
  .find-treatment-copy-inner {
    margin-bottom: 2.6vw;
  }
  .find-treatment-map.map-copy {
    width: 100%;
  }
}
@media (max-width: 600px) {
	.section {
		.find-treatment-inner {
			.find-treatment-left{
				width: 100%;
			}
			.find-treatment-right {
				width: 100%;
				flex-wrap: wrap;
				flex-direction: column-reverse;
				.find-treatment-map-left{
					width: 100%;
					background-color: #fff;
				}
				.find-treatment-map{
					width: 100%;
					 iframe{
						min-height: 59vw;
					 }
				}
			}
			.find-treatment-leftbox {
				display: none;
			}
		}
	}
}

