.footer {
  display: inherit;
}
.footer-inner {
  display: flex;
  flex-wrap: wrap;
}

.footer-left {
  background-color: #262626;
  padding: 3.9vw 3.9vw 2.6vw;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-right {
  width: 35%;
}
.footer-left > div {
  width: 50%;
  padding-top: 3.25vw;
}
.footer-menu a {
  font-size: 1.43vw;
  color: #fff;
  text-decoration: none;
  line-height: 1.69vw;
  padding: 0.39vw 0;
  display: inline-block;
  font-weight: bold;
}
.footer-left > div.footer-contact,
.footer-logo {
  padding-left: 5.2vw;
}
.footer-left ul {
  padding: 0;
}
.footer-left li {
  list-style: none;
}
.footer-menu-text a {
  color: #fff;
  font-size: 0.9vw;
  font-weight: 700;
  padding: 0.39vw 0;
  display: inline-block;
  text-decoration: none;
}
.footer-right {
  position: relative;
  a:hover {
    color: #fe5c00;
  }
}
@media (max-width: 600px) {
  .footer-inner {
    .footer-left {
      width: 100%;
      display: block;
      padding: 3.3vw;
      .footer-menu {
        a {  
          font-size: 5.35vw;
        }
        width: 100%;
        padding-top: 3.3vw;
        ul {
          margin: 0;
        }
      }
      .footer-menu-text {
        a {  
          font-size: 3.4vw;
        }
        width: 100%;
        ul {
          margin: 0;
        }
      }
      .footer-contact {
        display: none;
      }
      .footer-logo {
        width: 100%;
        padding: 3.3vw 0;
      }
    }
    .footer-right {
      width: 100%;
      iframe {
        margin: 0;
        min-height: 83.5vw;
      }
    }
  }
}
