.section {
  display: inherit;
  background-color: #E5E5E5;

  .step-section-bottom {
    margin: 0 auto;
    padding: 0 0 3.9vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }
  .step-section-bottom-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .step-section-bottom-left {
    width: 48%;
    img {
      height: 32.5vw;
      width: 100%;
      object-fit: cover;
	  padding-left: 3.9vw;
    }
  }
  .step-section-bottom-right {
    width: 48%;
    padding-left: 6.5vw;
    h4 {
      font-size: 1.43vw;
      padding-bottom: 3.25vw;
      line-height: 1.69vw;
    }
    span {
      font-size: 1.17vw;
      line-height: 1.69vw;
    }
    .btn {
      margin-top: 3.9vw;
    }
  }
  button.btn {
    display: flex;
    background: #fe5c00;
    align-items: center;
    padding: 0.97vw;
    border: 0;
    font-size: 1.17vw;
    color: #fff;
    img {
      width: 0.97vw;
      margin-left: 21px;
    }
  }
  .step-section-bottom-imags {
    img {
      width: 400px;
      height: 300px;
	  margin-left: -4.5vw;
	  padding: 0;
    }
    position: absolute;
    bottom: -7.8vw;
    z-index: 3;
  }
  .wrap-white-space {
    white-space: pre-wrap;
  }
}

@media (max-width: 991px) {
	.section {
		.step-section-bottom {
			background-color: #fff;
			padding: 0 0 0 1.3vw;
			.step-section-bottom-left{
				width: 100%;
        position: relative;
        padding-left: 6.5vw;
				img{
					padding: 0;
				}
			}
			.step-section-bottom-right{
				width: 100%;
				padding: 9.7vw 1.3vw 0 0;
			}
			.step-section-bottom-imags{
				left: -1.3vw;
				img{
					margin: 0;
					width: 300px;
				}
			}
		}
		.step-section-bottom-inner{
			flex-direction: column-reverse;
			    margin-top: -1.95vw;
		}
	}
}

