.section {
  display: inherit;
  background-color: #E5E5E5;

  .step-section-bottom {
    margin: 0 auto;
    padding: 0 0 3.9vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }
  .step-section-bottom-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .step-section-bottom-left {
    width: 48%;
    img {
      height: 32.5vw;
      width: 100%;
      object-fit: cover;
	  padding-left: 3.9vw;
    }
  }
  .step-section-bottom-right {
    width: 48%;
    padding-left: 6.5vw;
    h4 {
      font-size: 1.43vw;
      padding-bottom: 3.25vw;
      line-height: 1.69vw;
    }
    span {
      font-size: 1.17vw;
      line-height: 1.69vw;
    }
    .btn {
      margin-top: 3.9vw;
    }
  }
  button.btn {
    display: flex;
    background: #fe5c00;
    align-items: center;
    padding: 0.97vw;
    border: 0;
    font-size: 1.17vw;
    color: #fff;
    img {
      width: 0.97vw;
      margin-left: 1.36vw;
    }
  }
  .step-section-bottom-imags {
    img {
      width: 26vw;
      height: 19.53vw;
	  margin-left: -4.5vw;
	  padding: 0;
    }
    position: absolute;
    bottom: -7.8vw;
    z-index: 3;
  }
  .wrap-white-space {
    white-space: pre-wrap;
  }
}

@media (max-width: 600px) {
	.section {
		.step-section-bottom {
			background-color: #fff;
			padding: 0 0 0 3.3vw;
			.step-section-bottom-left{
				width: 100%;
        position: relative;
        padding-left: 26.5vw;
				img{
          padding: 0;
          height: 55.5vw;
				}
			}
			.step-section-bottom-right{
				width: 100%;
				padding: 25vw 3.3vw 0 0;
        h4 {
        font-size: 5.3vw;
          line-height: 6.3vw;
        }
        span {
          font-size: 4.3vw;
        line-height: 6.3vw;
        }
        .btn {
          margin: auto;
          margin-top: 5.9vw;
        }
			}
			.step-section-bottom-imags{
				left: -3.3vw;
				img{
          zoom: 1.3;
          height: 33vw;
          width: 42vw;  
				}
			}
		}
		.step-section-bottom-inner{
			flex-direction: column-reverse;
			    margin-top: -5vw;
    }
    button.btn {
      font-size: 4vw;
      bottom: 16.6vw;
      padding: 4vw 0;
      width: 72vw;
      justify-content: center;
      img {
        width: 3vw;
        margin-left: 2.36vw;
      }
    }
	}
}

