.section {
  display: inherit;

  .medicine-section-inner {
    display: flex;
    flex-wrap: wrap;
    > div {
      width: 50%;
    }
  }
  .medicine-section-left {
    background-color: #fe5c00;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .section-left-text {
    display: inline-block;
    padding: 1.95vw 2.6vw;
    p {
      margin: 0;
      color: #fff;
      font-size: 1.17vw;
      line-height: 1.56vw;
    }
  }
  .medicine-section-right {
    background-color: #262626;
    padding: 5.2vw;
    h3 {
      color: #fe5c00;
      font-size: 1.43vw;
      margin-bottom: 3.25vw;
    }
    h5 {
      color: #fff;
      font-size: 1.43vw;
      margin-bottom: 3.25vw;
      margin-top: 0;
    }
    p {
      color: #fff;
      font-size: 1.17vw;
      margin: 0;
      line-height: 1.62vw;
    }
    .move-button-link {
      color: #fff;
      margin-top: 3.25vw;
      display: flex;
      text-decoration: none;
      font-size: 1.17vw;
      font-weight: bold;
      align-items: center;
    }
    .move-btn {
      width: 2.6vw;
      height: 2.6vw;
      background: #fe5c00;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 3.25vw;
      img {
        width: 0.9vw;
      }
    }
  }
  .medicine-section-right.color-grey {
    background-color: #e5e5e5;
    padding: 9.7vw 5.2vw;
    h5 {
      color: #262626;
    }
    p {
      color: #262626;
    }
    .move-button-link {
      color: #262626;
      display: flex;
      text-decoration: none;
      font-size: 1.17vw;
      font-weight: bold;
      align-items: center;
    }

    .move-btn {
      width: 2.6vw;
      height: 2.6vw;
      background: #fe5c00;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 3.25vw;
      img {
        width: 1.3vw;
      }
    }
  }
}
@media (max-width: 991px) {
	.section{
		.medicine-section-inner{
			.medicine-section-left{
				width: 100%;
			}
			.medicine-section-right{
				width: 100%;
				padding: 3.9vw 1.3vw;
			}
		}
	}
}
