.donate {
  &.mobile {
    display: none;
  }
  img {
    margin-right: 0.65vw;
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  .donate {
    display: none;
    &.mobile {
      position: absolute;
      top: 5.8vw;
      left: 54vw;
      padding: 0;
      z-index: 99;
      height: 4.3vw;
      display: inline;
      img {
        height: 100%;
      }
      b {
        display: none !important;
      }
    }
  }
}